node-red/data/flows.json
[{"id":"3c42ee28.883e0a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58a61e9c.6e7898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ec0e647.0b10ba","type":"mqtt-broker","name":"docker-mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4b2ca44.396d1","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":80,"y":100,"wires":[["4b807e.06774784"]]},{"id":"4b807e.06774784","type":"debug","z":"3c42ee28.883e0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":100,"wires":[]},{"id":"3542d091.861f88","type":"mqtt in","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":100,"y":200,"wires":[["b46154b9.99c7c"]]},{"id":"b46154b9.99c7c","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":200,"wires":[]},{"id":"21f5bf60.b75a88","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":90,"y":460,"wires":[["17bd2a9c.3d66a5"]]},{"id":"17bd2a9c.3d66a5","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":270,"y":460,"wires":[["efd53aa9.8c54f"]]},{"id":"efd53aa9.8c54f","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":460,"wires":[["f2654064.33856"],["910bbb82.066c3","505b0a11.7af3a4"]]},{"id":"e9e99d1e.d44328","type":"mqtt out","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":1080,"y":560,"wires":[]},{"id":"f2654064.33856","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"ON\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"ON\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":560,"wires":[["e9e99d1e.d44328"]]},{"id":"7ea83549.1bf8cc","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"OFF\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"OFF\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":600,"wires":[["e9e99d1e.d44328"]]},{"id":"b6f65158.a9dda8","type":"comment","z":"3c42ee28.883e0a","name":"TV tason ohjaus päälle/pois","info":"","x":160,"y":280,"wires":[]},{"id":"f0bf413e.ac75e8","type":"inject","z":"3c42ee28.883e0a","name":"Päälle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"single\"}","payloadType":"str","x":110,"y":520,"wires":[["17bd2a9c.3d66a5"]]},{"id":"13f95326.eae215","type":"inject","z":"3c42ee28.883e0a","name":"Pois päältä","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":560,"wires":[["17bd2a9c.3d66a5"]]},{"id":"910bbb82.066c3","type":"function","z":"3c42ee28.883e0a","name":"Odota Harmony off","func":"class Waiter {\n    constructor(timeout) {\n        this.timeout = timeout;\n        this.intervalHandle = null;\n        this.timeoutHandle = null;\n    }\n    \n    waitUntil(checker) {\n        return new Promise((resolve, reject) => {\n            if (this.intervalHandle || this.timeoutHandle) {\n                reject(new Error('Can\\'t wait if wait is already running'));\n                return;\n            }\n            this.intervalHandle = setInterval(() => {\n                if (checker()) {\n                    this.close();\n                    resolve(true);\n                }\n            }, 500);\n            this.timeoutHandle = setTimeout(() => {\n                this.close();\n                resolve(false);\n            }, this.timeout);\n        });\n    }\n    \n    close() {\n        if (this.intervalHandle) {\n            clearInterval(this.intervalHandle);\n            this.intervalHandle = null;\n        }\n        if (this.timeoutHandle) {\n            clearTimeout(this.timeoutHandle);\n            this.timeoutHandle = null;\n        }\n    }\n}\n\nfunction isActivityOff() {\n    const current_activity = flow.get(\"harmonyhub\");\n    return current_activity === \"poweroff\";\n}\n\n(async function() {\n    try {\n        if (isActivityOff()) {\n            node.send({ payload: true });\n        } else {\n            const waiter = new Waiter(10000);\n            node.on('close', () => waiter.close());\n            const success = await waiter.waitUntil(() => isActivityOff());\n            if (success) {\n                // Give controlled devices time to properly shutdown\n                await new Promise(resolve => setTimeout(resolve, 5000));\n            }\n            node.send({ payload: success });\n        }\n    } catch(error) {\n        node.error('Waiter failed:', error);\n        node.send({ payload: false });\n    } finally {\n        node.done();\n    }\n})();\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":600,"wires":[["3a14d88c.09df88"]]},{"id":"3a14d88c.09df88","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":600,"wires":[["7ea83549.1bf8cc"]]},{"id":"f7d3061c.7f37","type":"debug","z":"3c42ee28.883e0a","name":"Harmony hub tila","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"4cfc37bc.d653e","type":"inject","z":"3c42ee28.883e0a","name":"Turn off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":660,"wires":[["7ea83549.1bf8cc"]]},{"id":"cac26245.12e7","type":"comment","z":"3c42ee28.883e0a","name":"Olohuoneen kattovalaisimen ohjaus","info":"","x":180,"y":720,"wires":[]},{"id":"188b7890.062617","type":"mqtt in","z":"3c42ee28.883e0a","name":"tradfri-kaukosaadin-1","topic":"zigbee2mqtt/tradfri-kaukosaadin-1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":150,"y":800,"wires":[["4d430381.ff6104"]]},{"id":"4d430381.ff6104","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["5950701a.f1bad"]]},{"id":"5950701a.f1bad","type":"function","z":"3c42ee28.883e0a","name":"Säädä värilämpotilaa","func":"const VARI_LAMPOTILAT = [150, 300, 375, 450];\n\nfunction vaihdaLampotila(muutos) {\n    let lampotila = flow.get('olohuone-kattovalaisin-lampotila') || 0;\n    lampotila += muutos;\n    lampotila = lampotila < 0 ? VARI_LAMPOTILAT.length -1 : lampotila;\n    lampotila = lampotila >= VARI_LAMPOTILAT.length ? 0 : lampotila;\n    flow.set('olohuone-kattovalaisin-lampotila', lampotila);\n    return VARI_LAMPOTILAT[lampotila];\n}\n\nswitch (msg.payload.action) {\ncase 'arrow_right_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(+1)\n    };\n    break;\ncase 'arrow_left_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(-1)\n    };\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["1659c5e4.f2b89a"]]},{"id":"1659c5e4.f2b89a","type":"mqtt out","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":770,"y":800,"wires":[]},{"id":"201b2c59.c613bc","type":"mqtt in","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":230,"y":940,"wires":[["21802c00.e03034"]]},{"id":"21802c00.e03034","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":940,"wires":[]},{"id":"b4cb8d98.959298","type":"inject","z":"3c42ee28.883e0a","d":true,"name":"Sulje klo 22.00","props":[{"p":"payload","v":"{\"click\":\"long\"}","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":400,"wires":[["17bd2a9c.3d66a5"]]},{"id":"e646c2c9.2c9d7","type":"mqtt out","z":"3c42ee28.883e0a","name":"Olohuone v2 > poweroff","topic":"harmony-api/hubs/olohuone-v2/activities/poweroff/command","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":550,"y":540,"wires":[]},{"id":"505b0a11.7af3a4","type":"change","z":"3c42ee28.883e0a","name":"payload: on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["e646c2c9.2c9d7"]]},{"id":"a0a2d43c.ef36a8","type":"mqtt in","z":"3c42ee28.883e0a","name":"Olohuone v2 : current activity","topic":"harmony-api/hubs/olohuone-v2/current_activity","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":460,"y":380,"wires":[["7ec44afc.551f64","f7d3061c.7f37"]]},{"id":"7ec44afc.551f64","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"harmonyhub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":380,"wires":[[]]},{"id":"4b6c9a7f.f4f284","type":"comment","z":"3c42ee28.883e0a","name":"bt-mqtt-gatewayn nollaus","info":"","x":150,"y":1040,"wires":[]},{"id":"ee108831.2e0048","type":"mqtt in","z":"3c42ee28.883e0a","name":"","topic":"bt-mqtt-gateway/ruuvitag/sauna/temperature","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":220,"y":1100,"wires":[["ff0d7318.6de49"]]},{"id":"ff0d7318.6de49","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"edellinenRuuviPaivitys","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1100,"wires":[[]]},{"id":"7016423d.b4165c","type":"function","z":"3c42ee28.883e0a","name":"","func":"const erotus = msg.aikaleima - flow.get(\"edellinenRuuviPaivitys\");\nreturn { ...msg, erotus };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1180,"wires":[["99efffea.009f3"]]},{"id":"9d133912.6c2838","type":"inject","z":"3c42ee28.883e0a","name":"","props":[{"p":"aikaleima","v":"","vt":"date"},{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"(cd /home/pi/koti-automaatio; docker-compose restart bt-mqtt-gateway 2>&1)","payloadType":"str","x":110,"y":1180,"wires":[["7016423d.b4165c"]]},{"id":"99efffea.009f3","type":"switch","z":"3c42ee28.883e0a","name":"","property":"erotus","propertyType":"msg","rules":[{"t":"gte","v":"30 * 60 * 1000","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1180,"wires":[["3e81f9df.8ebcb6","23e8f447.77e69c"]]},{"id":"ac67fceb.c9e84","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stdout","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"3e81f9df.8ebcb6","type":"ssh-client-v2","z":"3c42ee28.883e0a","debug":true,"ssh":"/id_node_red","hostname":"172.17.0.1","name":"Käynnistä bt-mqtt-gateway uudelleen","x":770,"y":1180,"wires":[["ac67fceb.c9e84"]]},{"id":"85bfb004.468e9","type":"mqtt out","z":"3c42ee28.883e0a","name":"Viesti telegrammiin","topic":"mqttwarn/telegram","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":910,"y":1240,"wires":[]},{"id":"23e8f447.77e69c","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Käynnistän bt-mqtt-gatewayn uudelleen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1240,"wires":[["85bfb004.468e9"]]}]