node-red/data/flows.json
[{"id":"3c42ee28.883e0a","type":"tab","label":"Yleinen Flow","disabled":false,"info":""},{"id":"ae074793.96d408","type":"tab","label":"Termostaattiohjaus","disabled":false,"info":""},{"id":"84b3802e.82b5d","type":"group","z":"ae074793.96d408","name":"Injektoi tasatunnein","style":{"label":true},"nodes":["49e671eb.28855","e85c79f6.deec28"],"x":74,"y":559,"w":272,"h":122},{"id":"d3bb0e7f.21ab8","type":"group","z":"ae074793.96d408","name":"Injektoi tasatunnein","style":{"label":true},"nodes":["7192e8b5.0d2ab8","41e2f7c8.549d08"],"x":14,"y":339,"w":272,"h":122},{"id":"58a61e9c.6e7898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ec0e647.0b10ba","type":"mqtt-broker","name":"docker-mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4b2ca44.396d1","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":80,"y":100,"wires":[["4b807e.06774784"]]},{"id":"4b807e.06774784","type":"debug","z":"3c42ee28.883e0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":100,"wires":[]},{"id":"3542d091.861f88","type":"mqtt in","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":100,"y":200,"wires":[["b46154b9.99c7c"]]},{"id":"b46154b9.99c7c","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":200,"wires":[]},{"id":"21f5bf60.b75a88","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":90,"y":460,"wires":[["17bd2a9c.3d66a5"]]},{"id":"17bd2a9c.3d66a5","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":270,"y":460,"wires":[["efd53aa9.8c54f"]]},{"id":"efd53aa9.8c54f","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":460,"wires":[["f2654064.33856"],["910bbb82.066c3","505b0a11.7af3a4"]]},{"id":"e9e99d1e.d44328","type":"mqtt out","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":1080,"y":560,"wires":[]},{"id":"f2654064.33856","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"ON\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"ON\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":560,"wires":[["e9e99d1e.d44328"]]},{"id":"7ea83549.1bf8cc","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"OFF\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"OFF\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":600,"wires":[["e9e99d1e.d44328"]]},{"id":"b6f65158.a9dda8","type":"comment","z":"3c42ee28.883e0a","name":"TV tason ohjaus päälle/pois","info":"","x":160,"y":280,"wires":[]},{"id":"f0bf413e.ac75e8","type":"inject","z":"3c42ee28.883e0a","name":"Päälle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"single\"}","payloadType":"str","x":110,"y":520,"wires":[["17bd2a9c.3d66a5"]]},{"id":"13f95326.eae215","type":"inject","z":"3c42ee28.883e0a","name":"Pois päältä","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":560,"wires":[["17bd2a9c.3d66a5"]]},{"id":"910bbb82.066c3","type":"function","z":"3c42ee28.883e0a","name":"Odota Harmony off","func":"class Waiter {\n    constructor(timeout) {\n        this.timeout = timeout;\n        this.intervalHandle = null;\n        this.timeoutHandle = null;\n    }\n    \n    waitUntil(checker) {\n        return new Promise((resolve, reject) => {\n            if (this.intervalHandle || this.timeoutHandle) {\n                reject(new Error('Can\\'t wait if wait is already running'));\n                return;\n            }\n            this.intervalHandle = setInterval(() => {\n                if (checker()) {\n                    this.close();\n                    resolve(true);\n                }\n            }, 500);\n            this.timeoutHandle = setTimeout(() => {\n                this.close();\n                resolve(false);\n            }, this.timeout);\n        });\n    }\n    \n    close() {\n        if (this.intervalHandle) {\n            clearInterval(this.intervalHandle);\n            this.intervalHandle = null;\n        }\n        if (this.timeoutHandle) {\n            clearTimeout(this.timeoutHandle);\n            this.timeoutHandle = null;\n        }\n    }\n}\n\nfunction isActivityOff() {\n    const current_activity = flow.get(\"harmonyhub\");\n    return current_activity === \"poweroff\";\n}\n\n(async function() {\n    try {\n        if (isActivityOff()) {\n            node.send({ payload: true });\n        } else {\n            const waiter = new Waiter(10000);\n            node.on('close', () => waiter.close());\n            const success = await waiter.waitUntil(() => isActivityOff());\n            if (success) {\n                // Give controlled devices time to properly shutdown\n                await new Promise(resolve => setTimeout(resolve, 5000));\n            }\n            node.send({ payload: success });\n        }\n    } catch(error) {\n        node.error('Waiter failed:', error);\n        node.send({ payload: false });\n    } finally {\n        node.done();\n    }\n})();\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":600,"wires":[["3a14d88c.09df88"]]},{"id":"3a14d88c.09df88","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":600,"wires":[["7ea83549.1bf8cc"]]},{"id":"f7d3061c.7f37","type":"debug","z":"3c42ee28.883e0a","name":"Harmony hub tila","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"4cfc37bc.d653e","type":"inject","z":"3c42ee28.883e0a","name":"Turn off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":660,"wires":[["7ea83549.1bf8cc"]]},{"id":"cac26245.12e7","type":"comment","z":"3c42ee28.883e0a","name":"Olohuoneen kattovalaisimen ohjaus","info":"","x":180,"y":720,"wires":[]},{"id":"188b7890.062617","type":"mqtt in","z":"3c42ee28.883e0a","name":"tradfri-kaukosaadin-1","topic":"zigbee2mqtt/tradfri-kaukosaadin-1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":150,"y":800,"wires":[["4d430381.ff6104"]]},{"id":"4d430381.ff6104","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["5950701a.f1bad"]]},{"id":"5950701a.f1bad","type":"function","z":"3c42ee28.883e0a","name":"Säädä värilämpotilaa","func":"const VARI_LAMPOTILAT = [150, 300, 375, 450];\n\nfunction vaihdaLampotila(muutos) {\n    let lampotila = flow.get('olohuone-kattovalaisin-lampotila') || 0;\n    lampotila += muutos;\n    lampotila = lampotila < 0 ? VARI_LAMPOTILAT.length -1 : lampotila;\n    lampotila = lampotila >= VARI_LAMPOTILAT.length ? 0 : lampotila;\n    flow.set('olohuone-kattovalaisin-lampotila', lampotila);\n    return VARI_LAMPOTILAT[lampotila];\n}\n\nswitch (msg.payload.action) {\ncase 'arrow_right_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(+1)\n    };\n    break;\ncase 'arrow_left_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(-1)\n    };\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["1659c5e4.f2b89a"]]},{"id":"1659c5e4.f2b89a","type":"mqtt out","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":770,"y":800,"wires":[]},{"id":"201b2c59.c613bc","type":"mqtt in","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":230,"y":940,"wires":[["21802c00.e03034"]]},{"id":"21802c00.e03034","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":940,"wires":[]},{"id":"b4cb8d98.959298","type":"inject","z":"3c42ee28.883e0a","d":true,"name":"Sulje klo 22.00","props":[{"p":"payload","v":"{\"click\":\"long\"}","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":400,"wires":[["17bd2a9c.3d66a5"]]},{"id":"e646c2c9.2c9d7","type":"mqtt out","z":"3c42ee28.883e0a","name":"Olohuone v2 > poweroff","topic":"harmony-api/hubs/olohuone-v2/activities/poweroff/command","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":550,"y":540,"wires":[]},{"id":"505b0a11.7af3a4","type":"change","z":"3c42ee28.883e0a","name":"payload: on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["e646c2c9.2c9d7"]]},{"id":"a0a2d43c.ef36a8","type":"mqtt in","z":"3c42ee28.883e0a","name":"Olohuone v2 : current activity","topic":"harmony-api/hubs/olohuone-v2/current_activity","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":460,"y":380,"wires":[["7ec44afc.551f64","f7d3061c.7f37"]]},{"id":"7ec44afc.551f64","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"harmonyhub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":380,"wires":[[]]},{"id":"4b6c9a7f.f4f284","type":"comment","z":"3c42ee28.883e0a","name":"bt-mqtt-gatewayn nollaus","info":"","x":150,"y":1040,"wires":[]},{"id":"ee108831.2e0048","type":"mqtt in","z":"3c42ee28.883e0a","name":"","topic":"bt-mqtt-gateway/ruuvitag/sauna/temperature","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":220,"y":1100,"wires":[["ff0d7318.6de49"]]},{"id":"ff0d7318.6de49","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"edellinenRuuviPaivitys","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1100,"wires":[[]]},{"id":"7016423d.b4165c","type":"function","z":"3c42ee28.883e0a","name":"","func":"const erotus = msg.aikaleima - flow.get(\"edellinenRuuviPaivitys\");\nreturn { ...msg, erotus };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1180,"wires":[["99efffea.009f3"]]},{"id":"9d133912.6c2838","type":"inject","z":"3c42ee28.883e0a","name":"","props":[{"p":"aikaleima","v":"","vt":"date"},{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"(cd /home/pi/koti-automaatio; docker-compose restart bt-mqtt-gateway 2>&1)","payloadType":"str","x":110,"y":1180,"wires":[["7016423d.b4165c"]]},{"id":"99efffea.009f3","type":"switch","z":"3c42ee28.883e0a","name":"","property":"erotus","propertyType":"msg","rules":[{"t":"gte","v":"30 * 60 * 1000","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1180,"wires":[["3e81f9df.8ebcb6","23e8f447.77e69c"]]},{"id":"ac67fceb.c9e84","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stdout","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1180,"wires":[]},{"id":"3e81f9df.8ebcb6","type":"ssh-client-v2","z":"3c42ee28.883e0a","debug":true,"ssh":"/id_node_red","hostname":"172.17.0.1","name":"Käynnistä bt-mqtt-gateway uudelleen","x":770,"y":1180,"wires":[["ac67fceb.c9e84"]]},{"id":"85bfb004.468e9","type":"mqtt out","z":"3c42ee28.883e0a","name":"Viesti telegrammiin","topic":"mqttwarn/telegram","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":910,"y":1240,"wires":[]},{"id":"23e8f447.77e69c","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Käynnistän bt-mqtt-gatewayn uudelleen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1240,"wires":[["85bfb004.468e9"]]},{"id":"acd1d27e.6cb96","type":"inject","z":"ae074793.96d408","name":"Kerran vuorokaudessa keskiyöllä","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":200,"y":80,"wires":[["fc3ed6f1.edfef8"]]},{"id":"fc3ed6f1.edfef8","type":"mqtt out","z":"ae074793.96d408","name":"","topic":"entsoe/pörssisähkö-hinnat/hae","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":510,"y":80,"wires":[]},{"id":"f6bb33b6.bdaa7","type":"mqtt in","z":"ae074793.96d408","name":"","topic":"entsoe/pörssisähkö-hinnat/vastaus","qos":"2","datatype":"json","broker":"2ec0e647.0b10ba","x":200,"y":140,"wires":[["9c9f347.e6827c8"]]},{"id":"b2d98569.2f3258","type":"mqtt in","z":"ae074793.96d408","name":"","topic":"entsoe/pörssisähkö-hinnat/virhe","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":190,"y":200,"wires":[["726baf5.3ea725","e475452f.ab3868"]]},{"id":"726baf5.3ea725","type":"mqtt out","z":"ae074793.96d408","name":"Viesti telegrammiin","topic":"mqttwarn/telegram","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":470,"y":220,"wires":[]},{"id":"e85c79f6.deec28","type":"inject","z":"ae074793.96d408","d":true,"g":"84b3802e.82b5d","name":"Unix-aika tunteinta","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$floor($millis() / (60 * 60 * 1000))\t","payloadType":"jsonata","x":220,"y":600,"wires":[["49e671eb.28855"]]},{"id":"49e671eb.28855","type":"rbe","z":"ae074793.96d408","d":true,"g":"84b3802e.82b5d","name":"Kun aika muuttuu","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":210,"y":640,"wires":[["3d5b8f0a.74074"]]},{"id":"9c9f347.e6827c8","type":"change","z":"ae074793.96d408","name":"Aseta flow.tuntihinnat","rules":[{"t":"set","p":"tuntihinnat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[[]]},{"id":"e475452f.ab3868","type":"change","z":"ae074793.96d408","name":"Poista flow.tuntihinnat","rules":[{"t":"set","p":"tuntihinnat","pt":"flow","to":"undefined","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[[]]},{"id":"3d5b8f0a.74074","type":"function","z":"ae074793.96d408","d":true,"name":"Onko halpa tunti?","func":"// Tämä koodi laskee tuntihinnoista vuorokauden keskihinnan\n// ja päättelee sitten onko nykyinen tunti keskihinnan ala-\n// vai -yläpuolella.\n// Viestin payload asetaan boolean arvoon jossa arvo on:\n//  - true  - jos hinta on alapuolella (sähkö on halpaa), tai\n//  - false - jos hinta on yläpuolella (sähkö on kallista).\n//\n// flow.tuntihinnat on annettu listana olioita, sisältäen\n// kahden päivän edestä (tänään ja huomenna) tuntihintoja.\n// Kukin tuntihinta-olio sisältää seuraavat tietojäsenet:\n//  - päivä: kuukauden päivä kokonaislukuna, arvo välillä\n//           1 - 31, riippuu kuukaudesta, UTC ajassa\n//  - tunti: alkava tunti kokonaislukuna, arvo välillä\n//           0 - 23, UTC ajassa\n//  - hinta: hinta euroina, liukuluku\n//\n// Esimerkki:\n// [\n//   { päivä: 1, tunti: 0, hinta 12.30 },\n//   { päivä: 1, tunti: 1, hinta 15.70 },\n//   ...\n//   { päivä: 2, tunti: 23, hinta 16.45 }\n// ]\n//\n\n// Muunna tuntihintojen aika Date olioksi jotta aikaa on\n// helpompi vertailla myöhemmin\nconst tuntihinnat = (flow.get('tuntihinnat') || [])\n  .map(olio => ({ ...olio, aika: new Date(olio.aika) }));\n\nfunction hintojenKeskiarvo() {\n  const hintojenSumma = tuntihinnat_tältä_päivältä()\n    .map(({ hinta }) => hinta)\n    .reduce((summa, hinta) => summa + hinta);\n  return hintojenSumma / tuntihinnat.length;\n}\n\nfunction tuntihinnat_tältä_päivältä() {\n  const alku = new Date();\n  alku.setHours(0, 0, 0, 0);\n  const loppu = new Date();\n  loppu.setHours(23, 0, 0, 0);\n  return tuntihinnat\n    .filter(({ aika }) => aika >= alku && aika <= loppu);\n}\n\nfunction hae_ajankohta(date) {\n  return [date.getUTCDate(), date.getUTCHours()];\n}\n\nfunction nykyinenHinta() {\n  const nyt = new Date();\n  nyt.setMinutes(0, 0, 0);\n  return tuntihinnat\n    .find(({ aika }) => aika.getTime() == nyt.getTime())\n    .hinta;\n}\n\nconst hinta = nykyinenHinta();\nconst keskiarvo = hintojenKeskiarvo();\nconst halpaa = hinta < keskiarvo;\n\nreturn { ...msg, halpaa, hinta, keskiarvo };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":680,"wires":[["4264011.446be"]]},{"id":"7eafdb64.59f274","type":"switch","z":"ae074793.96d408","d":true,"name":"","property":"halpaa","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":840,"wires":[["4367cb8e.673064"],["2280c416.7ed6fc"]]},{"id":"24775fdb.a60e1","type":"mqtt out","z":"ae074793.96d408","d":true,"name":"Viesti telegrammiin","topic":"mqttwarn/telegram","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":930,"y":840,"wires":[]},{"id":"4264011.446be","type":"rbe","z":"ae074793.96d408","d":true,"name":"Kun halvan tila muuttuu","func":"rbe","gap":"","start":"","inout":"out","property":"halpaa","x":490,"y":760,"wires":[["1f4186b7.edfae9"]]},{"id":"cba9ca15.db17e8","type":"comment","z":"ae074793.96d408","name":"Tuntihintojen haku","info":"","x":110,"y":40,"wires":[]},{"id":"db04d444.f29658","type":"comment","z":"ae074793.96d408","name":"Termostaattien ohjaus tuntihinnan mukaan","info":"","x":180,"y":280,"wires":[]},{"id":"4367cb8e.673064","type":"template","z":"ae074793.96d408","d":true,"name":"Sähkö on halpaa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hei, sähkön spot-hinta on nyt {{hinta}} c/kWh, se on alle vuorokauden keskiarvon {{keskiarvo}} c/kWh joten se on halpaa, laita lämmitys päälle","output":"str","x":710,"y":820,"wires":[["24775fdb.a60e1"]]},{"id":"2280c416.7ed6fc","type":"template","z":"ae074793.96d408","d":true,"name":"Sähkö on kallista","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hei, sähkön spot-hinta on nyt {{hinta}} c/kWh, se on yli vuorokauden keskiarvon {{keskiarvo}} c/kWh joten se on kallista, laita lämmitys pois päältä","output":"str","x":710,"y":860,"wires":[["24775fdb.a60e1"]]},{"id":"1f4186b7.edfae9","type":"function","z":"ae074793.96d408","d":true,"name":"Hinnat --> c/kWh","func":"function kilowattiSenteiksi(megawattiEurot) {\n  return (megawattiEurot / 1000 * 100).toFixed(2).replace('.', ',');\n}\nreturn {\n  ...msg,\n  hinta: kilowattiSenteiksi(msg.hinta),\n  keskiarvo: kilowattiSenteiksi(msg.keskiarvo),\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["7eafdb64.59f274"]]},{"id":"f0f28fb5.46c54","type":"function","z":"ae074793.96d408","name":"Lisää päivän tuntihinnat","func":"// Tämä koodi hakee flow.tuntihinnat muuttujasta ENTSO-E\n// palvelusta noudetut tuntihinnat ja suodattaa niistä vain\n// nykyisen päivän hinnat.\n//\n// Päivän hinnat lisätään viestin muuttujaan msg.tuntihinnat.\n\nconst päivänAlku = new Date();\npäivänAlku.setHours(0, 0, 0, 0);\nconst päivänLoppu = new Date();\npäivänLoppu.setHours(23, 0, 0, 0);\n\nmsg.tuntihinnat = (flow.get('tuntihinnat') || [])\n    .map(olio => ({ ...olio, aika: new Date(olio.aika) }))\n    .filter(({ aika }) => aika >= päivänAlku && aika <= päivänLoppu);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":320,"wires":[["5f65af82.db537"]]},{"id":"5f65af82.db537","type":"function","z":"ae074793.96d408","name":"Laske hintojen keskiarvo","func":"// Tämä koodi laskee vuorokauden keskihinnan ja lisää tuloksen\n// msg.keskiarvo muuttujaan desimaalilukuna, yksikkö on €/MWh.\n\nconst hintojenSumma = msg.tuntihinnat\n    .map(({ hinta }) => hinta)\n    .reduce((summa, hinta) => summa + hinta, 0);\n\nmsg.keskiarvo = hintojenSumma / msg.tuntihinnat.length;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["37d4af48.6d1c3"]]},{"id":"37d4af48.6d1c3","type":"function","z":"ae074793.96d408","name":"Hae nykyisen tunnin hinta","func":"// Tämä koodi hakee nykyisen tunnin hinnan tuntihinnoista ja\n// asettaa sen muuttujaan msg.hinta desimaalilukuna. Luvun\n// yksikkö on €/MWh.\n\nconst alkavaTunti = new Date();\nalkavaTunti.setMinutes(0, 0, 0);\nconst aikaleima = alkavaTunti.getTime();\n\nmsg.hinta = msg.tuntihinnat\n    .find(({ aika }) => new Date(aika).getTime() == aikaleima)\n    .hinta;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":400,"wires":[["6f248c0b.ba3d64"]]},{"id":"6f248c0b.ba3d64","type":"function","z":"ae074793.96d408","name":"Hinnat --> c/kWh","func":"// Tämä koodi muuntaa tunnin hinnan ja keskiarvon niiden alkuperäisistä\n// desimaaliluvuista merkkijonoiksi muotoiltuna paremmin tunnetussa\n// c/kWh yksikössä.\n\nfunction muunna(euroaPerMegawatti) {\n    return (euroaPerMegawatti / 1000 * 100).toFixed(2).replace('.', ',');\n}\n\nmsg.senttiäPerKilowatti = {\n    hinta: muunna(msg.hinta),\n    keskiarvo: muunna(msg.keskiarvo)\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":440,"wires":[["502aa6f0.ff42a8"]]},{"id":"11461c02.f65b44","type":"switch","z":"ae074793.96d408","name":"halpa hinta?","property":"halpaa","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["542f29f2.c17168"],["6884cb41.842aa4"]]},{"id":"7192e8b5.0d2ab8","type":"rbe","z":"ae074793.96d408","g":"d3bb0e7f.21ab8","name":"Muuttuiko tunti?","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":180,"y":420,"wires":[["f0f28fb5.46c54"]]},{"id":"41e2f7c8.549d08","type":"inject","z":"ae074793.96d408","g":"d3bb0e7f.21ab8","name":"Unix-aika tunteinta","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$floor($millis() / (60 * 60 * 1000))\t","payloadType":"jsonata","x":160,"y":380,"wires":[["7192e8b5.0d2ab8"]]},{"id":"542f29f2.c17168","type":"template","z":"ae074793.96d408","name":"Sähkö on halpaa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hei, sähkön spot-hinta on nyt {{senttiäPerKilowatti.hinta}} c/kWh, se on alle vuorokauden keskiarvon {{senttiäPerKilowatti.keskiarvo}} c/kWh joten se on halpaa, laita lämmitys päälle","output":"str","x":1110,"y":360,"wires":[["ab6cdd2f.e2d6c"]]},{"id":"6884cb41.842aa4","type":"template","z":"ae074793.96d408","name":"Sähkö on kallista","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hei, sähkön spot-hinta on nyt {{senttiäPerKilowatti.hinta}} c/kWh, se on yli vuorokauden keskiarvon {{senttiäPerKilowatti.keskiarvo}} c/kWh joten se on kallista, laita lämmitys pois päältä\n","output":"str","x":1110,"y":400,"wires":[["ab6cdd2f.e2d6c"]]},{"id":"ab6cdd2f.e2d6c","type":"mqtt out","z":"ae074793.96d408","name":"Viesti telegrammiin","topic":"mqttwarn/telegram","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":1330,"y":380,"wires":[]},{"id":"74d78bd4.f521f4","type":"inject","z":"ae074793.96d408","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":75,"y":320,"wires":[["f0f28fb5.46c54"]],"l":false},{"id":"502aa6f0.ff42a8","type":"change","z":"ae074793.96d408","name":"Päättele onko halpa tunti","rules":[{"t":"set","p":"halpaa","pt":"msg","to":"msg.hinta < msg.keskiarvo","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["fb39adc5.fe958"]]},{"id":"fb39adc5.fe958","type":"rbe","z":"ae074793.96d408","name":"Muuttuiko halvan tila?","func":"rbe","gap":"","start":"","inout":"out","property":"halpaa","x":820,"y":380,"wires":[["11461c02.f65b44"]]}]