node-red/flows.json
[{"id":"3c42ee28.883e0a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a0c79ab.40c986","type":"tab","label":"Z2M Admin","disabled":false,"info":""},{"id":"fd4eee87.2465f8","type":"harmonyws-server","name":"Olohuone v2","ip":"192.168.1.229","debug":false},{"id":"496a3e69.272f3","type":"ui_group","name":"Device management","tab":"b3b798b.57990e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c941d5e1.2b379","type":"ui_group","name":"Device list","tab":"b3b798b.57990e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3001911e.95cd16","type":"ui_group","name":"Bridge configuration","tab":"b3b798b.57990e8","order":5,"disp":true,"width":"6","collapse":true},{"id":"5224b6c2.287e48","type":"ui_group","name":"Network map","tab":"dc2a486d.1fecb","disp":false,"width":"27","collapse":false},{"id":"54b89803.af94a8","type":"ui_group","name":"Device details","tab":"b3b798b.57990e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"60a029a7.3d62e8","type":"ui_group","name":"Group configuration","tab":"b3b798b.57990e8","order":4,"disp":true,"width":"6","collapse":true},{"id":"b3b798b.57990e8","type":"ui_tab","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"dc2a486d.1fecb","type":"ui_tab","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"58a61e9c.6e7898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ec0e647.0b10ba","type":"mqtt-broker","name":"docker-mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4b2ca44.396d1","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":80,"y":100,"wires":[["4b807e.06774784"]]},{"id":"4b807e.06774784","type":"debug","z":"3c42ee28.883e0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":100,"wires":[]},{"id":"3542d091.861f88","type":"mqtt in","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":100,"y":200,"wires":[["b46154b9.99c7c"]]},{"id":"b46154b9.99c7c","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":200,"wires":[]},{"id":"21f5bf60.b75a88","type":"mqtt in","z":"3c42ee28.883e0a","name":"nappi1","topic":"zigbee2mqtt/nappi1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":90,"y":460,"wires":[["17bd2a9c.3d66a5"]]},{"id":"17bd2a9c.3d66a5","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":270,"y":460,"wires":[["efd53aa9.8c54f"]]},{"id":"efd53aa9.8c54f","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":460,"wires":[["f2654064.33856"],["7144c414.ed7394","910bbb82.066c3"]]},{"id":"e9e99d1e.d44328","type":"mqtt out","z":"3c42ee28.883e0a","name":"pistoke-tvtaso","topic":"zigbee2mqtt/pistoke-tvtaso/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":960,"y":560,"wires":[]},{"id":"f2654064.33856","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"ON\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"ON\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":560,"wires":[["e9e99d1e.d44328"]]},{"id":"7ea83549.1bf8cc","type":"change","z":"3c42ee28.883e0a","name":"{\"state\": \"OFF\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"OFF\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":600,"wires":[["e9e99d1e.d44328"]]},{"id":"b6f65158.a9dda8","type":"comment","z":"3c42ee28.883e0a","name":"TV tason ohjaus päälle/pois","info":"","x":160,"y":340,"wires":[]},{"id":"7144c414.ed7394","type":"harmonyws-activity","z":"3c42ee28.883e0a","name":"Harmony / off","server":"fd4eee87.2465f8","activity":"-1","x":380,"y":560,"wires":[[]]},{"id":"d50b9fff.258c18","type":"harmonyws-observer","z":"3c42ee28.883e0a","name":"Harmony olohuone tila","server":"fd4eee87.2465f8","startup":true,"toContext":false,"context":"flow","contextKeyActivity":"HarmonyHub","contextKeyAutomation":"automation","x":520,"y":100,"wires":[["909fb4ee.538458","f7d3061c.7f37"]]},{"id":"f0bf413e.ac75e8","type":"inject","z":"3c42ee28.883e0a","name":"Päälle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"single\"}","payloadType":"str","x":110,"y":520,"wires":[["17bd2a9c.3d66a5"]]},{"id":"13f95326.eae215","type":"inject","z":"3c42ee28.883e0a","name":"Pois päältä","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":560,"wires":[["17bd2a9c.3d66a5"]]},{"id":"909fb4ee.538458","type":"change","z":"3c42ee28.883e0a","name":"","rules":[{"t":"set","p":"harmonyhub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":100,"wires":[[]]},{"id":"910bbb82.066c3","type":"function","z":"3c42ee28.883e0a","name":"Odota Harmony off","func":"class Waiter {\n    constructor(timeout) {\n        this.timeout = timeout;\n        this.intervalHandle = null;\n        this.timeoutHandle = null;\n    }\n    \n    waitUntil(checker) {\n        return new Promise((resolve, reject) => {\n            if (this.intervalHandle || this.timeoutHandle) {\n                reject(new Error('Can\\'t wait if wait is already running'));\n                return;\n            }\n            this.intervalHandle = setInterval(() => {\n                if (checker()) {\n                    this.close();\n                    resolve(true);\n                }\n            }, 500);\n            this.timeoutHandle = setTimeout(() => {\n                this.close();\n                resolve(false);\n            }, this.timeout);\n        });\n    }\n    \n    close() {\n        if (this.intervalHandle) {\n            clearInterval(this.intervalHandle);\n            this.intervalHandle = null;\n        }\n        if (this.timeoutHandle) {\n            clearTimeout(this.timeoutHandle);\n            this.timeoutHandle = null;\n        }\n    }\n}\n\nfunction isActivityOff() {\n    const state = flow.get(\"harmonyhub\");\n    return state && state.status === 0;\n}\n\n(async function() {\n    try {\n        if (isActivityOff()) {\n            node.send({ payload: true });\n        } else {\n            const waiter = new Waiter(10000);\n            node.on('close', () => waiter.close());\n            const success = await waiter.waitUntil(() => isActivityOff());\n            if (success) {\n                // Give controlled devices time to properly shutdown\n                await new Promise(resolve => setTimeout(resolve, 5000));\n            }\n            node.send({ payload: success });\n        }\n    } catch(error) {\n        node.error('Waiter failed:', error);\n        node.send({ payload: false });\n    } finally {\n        node.done();\n    }\n})();\nreturn;\n","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["3a14d88c.09df88"]]},{"id":"3a14d88c.09df88","type":"switch","z":"3c42ee28.883e0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":600,"wires":[["7ea83549.1bf8cc"]]},{"id":"f7d3061c.7f37","type":"debug","z":"3c42ee28.883e0a","name":"Harmony hub tila","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":160,"wires":[]},{"id":"4cfc37bc.d653e","type":"inject","z":"3c42ee28.883e0a","name":"Turn off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":660,"wires":[["7ea83549.1bf8cc"]]},{"id":"cac26245.12e7","type":"comment","z":"3c42ee28.883e0a","name":"Olohuoneen kattovalaisimen ohjaus","info":"","x":180,"y":720,"wires":[]},{"id":"188b7890.062617","type":"mqtt in","z":"3c42ee28.883e0a","name":"tradfri-kaukosaadin-1","topic":"zigbee2mqtt/tradfri-kaukosaadin-1","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":150,"y":800,"wires":[["4d430381.ff6104"]]},{"id":"4d430381.ff6104","type":"json","z":"3c42ee28.883e0a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["5950701a.f1bad"]]},{"id":"5950701a.f1bad","type":"function","z":"3c42ee28.883e0a","name":"Säädä värilämpotilaa","func":"const VARI_LAMPOTILAT = [150, 300, 375, 450];\n\nfunction vaihdaLampotila(muutos) {\n    let lampotila = flow.get('olohuone-kattovalaisin-lampotila') || 0;\n    lampotila += muutos;\n    lampotila = lampotila < 0 ? VARI_LAMPOTILAT.length -1 : lampotila;\n    lampotila = lampotila >= VARI_LAMPOTILAT.length ? 0 : lampotila;\n    flow.set('olohuone-kattovalaisin-lampotila', lampotila);\n    return VARI_LAMPOTILAT[lampotila];\n}\n\nswitch (msg.payload.action) {\ncase 'arrow_right_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(+1)\n    };\n    break;\ncase 'arrow_left_click':\n    msg.payload = {\n        color_temp: vaihdaLampotila(-1)\n    };\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["1659c5e4.f2b89a"]]},{"id":"1659c5e4.f2b89a","type":"mqtt out","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin/set","qos":"","retain":"","broker":"2ec0e647.0b10ba","x":770,"y":800,"wires":[]},{"id":"201b2c59.c613bc","type":"mqtt in","z":"3c42ee28.883e0a","name":"","topic":"zigbee2mqtt/olohuone-kattovalaisin","qos":"2","datatype":"auto","broker":"2ec0e647.0b10ba","x":230,"y":940,"wires":[["21802c00.e03034"]]},{"id":"21802c00.e03034","type":"debug","z":"3c42ee28.883e0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":940,"wires":[]},{"id":"94329c6a.f574b","type":"function","z":"2a0c79ab.40c986","name":"Format Data","func":"var groupname = flow.get('groupname');\nvar device = flow.get('device');\n\nif (typeof groupname !== undefined && typeof device !== undefined) {\n    var action = \"Adding \";\n    var what = \" to group \";\n    if(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \" from group \";\n    }\nvar msg1 = { payload: device, topic: \"zigbee2mqtt/bridge/group/\" + groupname + \"/\" + msg.payload};\nvar msg2 = { payload: action + \" \" + device + what + groupname };\n\nreturn [msg1, msg2];\n}","outputs":2,"noerr":0,"x":770,"y":1920,"wires":[["b2125a69.0bdb9"],["b3764239.6e3288"]]},{"id":"80b4d8d9.d3fce8","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"496a3e69.272f3","order":9,"width":"3","height":"1","passthru":false,"label":"Add to group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1900,"wires":[["ed2572ad.008af"]]},{"id":"b3764239.6e3288","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":810,"y":1980,"wires":[]},{"id":"e2d91a12.91af08","type":"comment","z":"2a0c79ab.40c986","name":"Group management","info":"","x":130,"y":1460,"wires":[]},{"id":"50f52b3a.28a874","type":"function","z":"2a0c79ab.40c986","name":"Format Data","func":"var srcdev = flow.get('device');\nvar bindtarget = flow.get('bindtarget');\n\nif (typeof srcdev !== undefined && typeof bindtarget !== undefined) {\n  msg1 = { 'payload': bindtarget, 'topic': 'zigbee2mqtt/bridge/' + msg.payload + '/' + srcdev};\n  msg2 = { 'payload': msg.payload + ' ' + srcdev + ' to target ' + bindtarget };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":750,"y":2260,"wires":[["37260d44.cc2a1a"],["b692392f.59bf58"]]},{"id":"c2bc2f10.1e4b08","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"496a3e69.272f3","order":13,"width":"3","height":"1","passthru":false,"label":"Bind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bind","payloadType":"str","topic":"","x":110,"y":2240,"wires":[["af078b93.b3058"]]},{"id":"55cc3dea.605f5c","type":"mqtt in","z":"2a0c79ab.40c986","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"utf8","broker":"2ec0e647.0b10ba","x":110,"y":100,"wires":[["2550c23f.4891e6"]]},{"id":"1a80eacf.231a45","type":"switch","z":"2a0c79ab.40c986","name":"log type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"devices","vt":"str"},{"t":"eq","v":"groups","vt":"str"},{"t":"eq","v":"zigbee_publish_error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":540,"y":540,"wires":[["2d824cba.677814"],["b0cf851.b2aa7f8"],["2807d6dc.ccc7a2"],["df06539f.b2a0e"]]},{"id":"cfb52434.1d8378","type":"json","z":"2a0c79ab.40c986","name":"","property":"payload","action":"","pretty":false,"x":410,"y":540,"wires":[["1a80eacf.231a45"]]},{"id":"2d824cba.677814","type":"link out","z":"2a0c79ab.40c986","name":"Z2M LOG DEVICELIST","links":["f2376a1a.f80a78","84e65df8.7bd0d"],"x":695,"y":500,"wires":[]},{"id":"72ccb8d6.b06f5","type":"function","z":"2a0c79ab.40c986","name":"Reformat for list","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    if(entry.type != 'Coordinator') {\n      newentry = {'title': entry.friendly_name, \n               'description': entry.model + ' (' + entry.ieeeAddr + ')',\n               'icon': 'https://www.zigbee2mqtt.io/images/devices/' + entry.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n      };\n      newPayload.push(newentry);\n    }\n});\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":920,"wires":[["fa239883.ca4e5"]]},{"id":"f2376a1a.f80a78","type":"link in","z":"2a0c79ab.40c986","name":"Z2M DEV LIST INPUT","links":["2d824cba.677814"],"x":55,"y":940,"wires":[["72ccb8d6.b06f5","53a657fd.c9a5a"]]},{"id":"fa239883.ca4e5","type":"ui_list","z":"2a0c79ab.40c986","group":"c941d5e1.2b379","name":"Devices","order":1,"width":"6","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"x":340,"y":920,"wires":[["d1cf8fe6.46c48"]]},{"id":"d1cf8fe6.46c48","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":960,"wires":[["6c823826.14fab8","5e985e47.284af8","8a056c06.f386f"]]},{"id":"15d20bb1.9a98b4","type":"mqtt out","z":"2a0c79ab.40c986","name":"Generic output","topic":"","qos":"","retain":"false","broker":"2ec0e647.0b10ba","x":420,"y":160,"wires":[]},{"id":"9eabd086.9f58","type":"link in","z":"2a0c79ab.40c986","name":"Z2M GENERIC MQTT OUT","links":["b2125a69.0bdb9","458d2db0.4f1c14","3e4a9ddf.c679e2","37170205.5c342e","37260d44.cc2a1a","d9806165.e149b8","ebca9aa3.aed138","252d46ae.b99412"],"x":55,"y":160,"wires":[["15d20bb1.9a98b4"]]},{"id":"b2125a69.0bdb9","type":"link out","z":"2a0c79ab.40c986","name":"Z2M GROUP BIND OUT","links":["9eabd086.9f58"],"x":875,"y":1900,"wires":[]},{"id":"53a657fd.c9a5a","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":960,"wires":[[]]},{"id":"6c823826.14fab8","type":"function","z":"2a0c79ab.40c986","name":"Lookup device details","func":"devices = flow.get('devices');\n\nfor (var i in devices) {\n    if(devices[i].friendly_name == msg.payload.title) {\n        flow.set('seldevice_details', devices[i]);\n        msg.payload = devices[i];\n        return msg;\n    }\n}\n\nmsg.payload.friendly_name='unknown';\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":960,"wires":[["406b168.917e1e8"]]},{"id":"1c028388.a8bd9c","type":"function","z":"2a0c79ab.40c986","name":"Reformat for dropdown","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    newPayload.push(entry.friendly_name);\n});\n\nnewMsg = {'payload': flow.get('bindtarget'), 'options': newPayload};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":200,"y":2180,"wires":[["ab4416ce.5c0a3"]]},{"id":"84e65df8.7bd0d","type":"link in","z":"2a0c79ab.40c986","name":"Z2M BIND LIST INPUT","links":["2d824cba.677814"],"x":55,"y":2180,"wires":[["1c028388.a8bd9c"]]},{"id":"ab4416ce.5c0a3","type":"ui_dropdown","z":"2a0c79ab.40c986","name":"","label":"Target device","tooltip":"","place":"Select target device","group":"496a3e69.272f3","order":12,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":410,"y":2180,"wires":[["63cc0d34.beb5dc"]]},{"id":"63cc0d34.beb5dc","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"bindtarget","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2180,"wires":[[]]},{"id":"121eee14.4cdcea","type":"inject","z":"2a0c79ab.40c986","name":"","repeat":"6","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1140,"wires":[["3ecc2194.365ffe"]]},{"id":"137b8b7e.09cadd","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"bridgestate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[[]]},{"id":"17604096.216207","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"496a3e69.272f3","order":10,"width":"3","height":"1","passthru":false,"label":"Remove from group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":140,"y":1940,"wires":[["46c28e6e.aeb55"]]},{"id":"45cc6333.5dbe6c","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"496a3e69.272f3","order":14,"width":"3","height":"1","passthru":false,"label":"Unbind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Unbind","payloadType":"str","topic":"","x":120,"y":2280,"wires":[["200fef94.afb02"]]},{"id":"ed2572ad.008af","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1900,"wires":[["41914af5.01fd14"]]},{"id":"41914af5.01fd14","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add to group","name":"","x":470,"y":1900,"wires":[["ff1a5f10.b94398"]]},{"id":"ff1a5f10.b94398","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1920,"wires":[["94329c6a.f574b"],["94329c6a.f574b"],[]]},{"id":"46c28e6e.aeb55","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1940,"wires":[["b05c40b0.6553f"]]},{"id":"b05c40b0.6553f","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove from group","name":"","x":470,"y":1940,"wires":[["ff1a5f10.b94398"]]},{"id":"af078b93.b3058","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2240,"wires":[["25878281.18b2a6"]]},{"id":"25878281.18b2a6","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"bind","cancel":"cancel","topic":"Bind device","name":"","x":430,"y":2240,"wires":[["cc8864c1.6dd9a"]]},{"id":"200fef94.afb02","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> from <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2280,"wires":[["39a06d64.4c3052"]]},{"id":"39a06d64.4c3052","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"unbind","cancel":"cancel","topic":"Unbind device","name":"","x":430,"y":2280,"wires":[["cc8864c1.6dd9a"]]},{"id":"cc8864c1.6dd9a","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bind","vt":"str"},{"t":"eq","v":"unbind","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":2260,"wires":[["50f52b3a.28a874"],["50f52b3a.28a874"],[]]},{"id":"46fc5549.71d50c","type":"ui_text_input","z":"2a0c79ab.40c986","name":"","label":"New device name","tooltip":"","group":"496a3e69.272f3","order":5,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1860,"wires":[["5de5b45.1826dcc"]]},{"id":"26a499a7.9cc89e","type":"comment","z":"2a0c79ab.40c986","name":"Device management","info":"","x":130,"y":1740,"wires":[]},{"id":"5de5b45.1826dcc","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"newdevicename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1860,"wires":[[]]},{"id":"281c8b0e.a19034","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"496a3e69.272f3","order":6,"width":"6","height":"1","passthru":false,"label":"Rename device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Rename","payloadType":"str","topic":"","x":120,"y":2080,"wires":[["c3774fe4.2db36"]]},{"id":"c3774fe4.2db36","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.newdevicename}}</b>?","output":"str","x":280,"y":2080,"wires":[["1a1a051.f7c9ffb"]]},{"id":"1a1a051.f7c9ffb","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"rename","cancel":"cancel","topic":"Rename device","name":"","x":430,"y":2080,"wires":[["47b77acc.cc583c"]]},{"id":"47b77acc.cc583c","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rename","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":2080,"wires":[["b0850dfd.e2fdb"],[]]},{"id":"b0850dfd.e2fdb","type":"function","z":"2a0c79ab.40c986","name":"Format Data","func":"var oldname = flow.get('device');\nvar newname = flow.get('newdevicename');\n\nif (typeof oldname !== undefined && typeof newname !== undefined) {\n  msg1 = { 'payload': {\"old\": oldname, \"new\": newname}, 'topic': 'zigbee2mqtt/bridge/config/rename'};\n  msg2 = { 'payload': msg.payload + ' ' + oldname + ' to ' + newname };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":730,"y":2080,"wires":[["d9806165.e149b8"],["c62a2902.d36928"]]},{"id":"c62a2902.d36928","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":2140,"wires":[]},{"id":"12f5aa2f.8e1c8e","type":"switch","z":"2a0c79ab.40c986","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/bridge/state","vt":"str","case":false},{"t":"regex","v":".*/bridge/log","vt":"str","case":false},{"t":"regex","v":".*/bridge/config$","vt":"str","case":false},{"t":"regex","v":".*/networkmap/graphviz$","vt":"str","case":false},{"t":"regex","v":".*/bridge/config/.*","vt":"str","case":false},{"t":"regex","v":"^(?!.*get$|.*set$).*$","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":6,"x":230,"y":540,"wires":[["137b8b7e.09cadd"],["cfb52434.1d8378"],["cdb6dc93.bb94b8"],["104aa7b9.c6f6c8"],[],["b4de3dd.25cd84"]]},{"id":"cdb6dc93.bb94b8","type":"json","z":"2a0c79ab.40c986","name":"","property":"payload","action":"","pretty":false,"x":410,"y":620,"wires":[["442ecfd1.b4a8d8"]]},{"id":"442ecfd1.b4a8d8","type":"link out","z":"2a0c79ab.40c986","name":"Z2M BRIDGE CONFIG INPUT","links":["9b49ab73.537ea"],"x":515,"y":620,"wires":[]},{"id":"c56fc3dd.f7f33","type":"ui_switch","z":"2a0c79ab.40c986","name":"","label":"Permit join","tooltip":"","group":"3001911e.95cd16","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"zigbee2mqtt/bridge/config/permit_join","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1280,"wires":[["3e4a9ddf.c679e2"]]},{"id":"6ed2f0dd.3bc76","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"move","p":"payload.permit_join","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1280,"wires":[["c56fc3dd.f7f33"]]},{"id":"9b49ab73.537ea","type":"link in","z":"2a0c79ab.40c986","name":"Z2M BRIDGE CONFIG","links":["442ecfd1.b4a8d8"],"x":55,"y":1280,"wires":[["6ed2f0dd.3bc76","327907b9.7dc518","69c768a3.9241a8","a8686f60.9400d"]]},{"id":"8fa91efb.ad206","type":"ui_dropdown","z":"2a0c79ab.40c986","name":"","label":"Log level","tooltip":"","place":"Select log level","group":"3001911e.95cd16","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"zigbee2mqtt/bridge/config/log_level","x":460,"y":1320,"wires":[["3e4a9ddf.c679e2"]]},{"id":"3e4a9ddf.c679e2","type":"link out","z":"2a0c79ab.40c986","name":"Z2M BRIDGE CONFIG OUT","links":["9eabd086.9f58"],"x":615,"y":1300,"wires":[]},{"id":"327907b9.7dc518","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"move","p":"payload.log_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1320,"wires":[["8fa91efb.ad206"]]},{"id":"df06539f.b2a0e","type":"link out","z":"2a0c79ab.40c986","name":"Z2M NOTIFICATIONS OUT","links":["7f734eb6.9bea28"],"x":695,"y":600,"wires":[]},{"id":"900f9478.ed3f28","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":840,"y":2600,"wires":[]},{"id":"7f734eb6.9bea28","type":"link in","z":"2a0c79ab.40c986","name":"Z2M NOTIFICATIONS INPUT","links":["df06539f.b2a0e"],"x":65,"y":2580,"wires":[["f7f80c2a.52e21"]]},{"id":"b5030b32.5bfac","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.type","tot":"msg"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2680,"wires":[["900f9478.ed3f28"]]},{"id":"911d675e.35b328","type":"comment","z":"2a0c79ab.40c986","name":"Bridge status","info":"","x":110,"y":1100,"wires":[]},{"id":"43452f6f.570d48","type":"ui_button","z":"2a0c79ab.40c986","name":"remove device","group":"496a3e69.272f3","order":3,"width":"6","height":"1","passthru":false,"label":"Remove device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"remove","payloadType":"str","topic":"","x":120,"y":1820,"wires":[["80dc45c5.9b6e68"]]},{"id":"80dc45c5.9b6e68","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> permanently?","output":"str","x":280,"y":1820,"wires":[["8ac2a327.15a28"]]},{"id":"8ac2a327.15a28","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove device","name":"","x":430,"y":1820,"wires":[["29af6edf.f95622"]]},{"id":"29af6edf.f95622","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":1820,"wires":[["2ad80583.d69f92"],[]]},{"id":"2ad80583.d69f92","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/bridge/config/remove","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1820,"wires":[["ebca9aa3.aed138"]]},{"id":"f27ef8a8.2d69c8","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":4,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload.bridgestate}}","layout":"row-left","x":510,"y":1200,"wires":[]},{"id":"88c4e666.54216","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":7,"width":"0","height":"0","name":"","label":"Devices","format":"{{msg.payload.numdevices}}","layout":"row-left","x":520,"y":1160,"wires":[]},{"id":"3ecc2194.365ffe","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.numdevices","pt":"msg","to":"devices.length","tot":"flow"},{"t":"set","p":"payload.bridgestate","pt":"msg","to":"bridgestate","tot":"flow"},{"t":"set","p":"payload.nwlast","pt":"msg","to":"networkmap_last","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1140,"wires":[["88c4e666.54216","f27ef8a8.2d69c8","780cb283.731ddc"]]},{"id":"406b168.917e1e8","type":"function","z":"2a0c79ab.40c986","name":"Reformat for details","func":"newPayload = [];\n\nnewentry = {\n             'title': msg.payload.friendly_name,\n             'description': 'zigbee2mqtt/' + msg.payload.friendly_name,\n             'icon': 'https://www.zigbee2mqtt.io/images/logo.png'\n};\nnewPayload.push(newentry);\nnewentry = {\n             'title': msg.payload.ieeeAddr,\n             'description': 'NwkAddr: ' + msg.payload.nwkAddr + ' / manufId: ' + msg.payload.manufId,\n             'icon_name': 'settings_input_antenna'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.model,\n             'description': msg.payload.modelId,\n             'icon': 'https://www.zigbee2mqtt.io/images/devices/' + msg.payload.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.manufName,\n             'description': 'HW: ' + msg.payload.hwVersion + ' / SW: ' + msg.payload.swBuildId,\n             'icon_name': 'bookmark'\n};\nnewPayload.push(newentry);\nvar type_icon = msg.payload.type=='Router' ? 'device_hub' : 'input';\nnewentry = {\n             'title': msg.payload.type,\n             'description': 'Powersource: ' + msg.payload.powerSource,\n             'icon_name': type_icon\n};\nnewPayload.push(newentry);\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":1020,"wires":[["cfa2c077.4a27e"]]},{"id":"104aa7b9.c6f6c8","type":"change","z":"2a0c79ab.40c986","name":"save networkmap","rules":[{"t":"set","p":"networkmap","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"networkmap_last","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["7b5638dd.ca07d"]]},{"id":"761e39c8.41269","type":"http in","z":"2a0c79ab.40c986","name":"","url":"/z2mpanel/networkmap","method":"get","upload":false,"swaggerDoc":"","x":160,"y":3080,"wires":[["3c139dad.41fac2"]]},{"id":"3c139dad.41fac2","type":"template","z":"2a0c79ab.40c986","name":"Render page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n        <meta charset=\"utf-8\">\n        <title>Network topology</title>\n         <style>\n    #graphviz_svg_div svg {\n      position: absolute;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 100%;\n    }\n    \n    </style>\n    </head>\n    <body>\n        <div id=\"graphviz_svg_div\"></div>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/viz.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/full.render.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js\"></script>\n        <script type=\"bogus\" id=\"graphviz_input\">\n            {{{flow.networkmap}}}\n        </script>\n        <script language=\"javascript\" type=\"text/javascript\">\n            document.addEventListener(\"DOMContentLoaded\", function(event) {\n            var viz = new Viz();\n            var svg = document.getElementById(\"graphviz_input\").innerHTML;\n            viz.renderSVGElement(svg, {engine: \"{{{flow.nwrenderengine}}}\"})\n            .then(function(element) {\n                document.getElementById(\"graphviz_svg_div\").appendChild(element);\n                panZoom = svgPanZoom(element, {\n                    zoomEnabled: true,\n                    controlIconsEnabled: true,\n                    fit: true,\n                    center: true,\n                    minZoom: 0.1\n                });\n\n                element.addEventListener('paneresize', function(e) {\n                    panZoom.resize();\n                }, false);\n                window.addEventListener('resize', function(e) {\n                    panZoom.resize();\n                });\n            })\n            .catch(error => {\n                // Create a new Viz instance (@see Caveats page for more info)\n                viz = new Viz();\n\n                // Possibly display the error\n                console.error(error);\n            });\n            //var svg = Viz(document.getElementById(\"graphviz_input\").innerHTML, \"svg\", {render: \"circo\"});\n            //document.getElementById(\"graphviz_svg_div\").innerHTML = svg;\n            });\n        </script>\n    </body>\n</html>","output":"str","x":450,"y":3080,"wires":[["e80b0685.15a04"]]},{"id":"e80b0685.15a04","type":"http response","z":"2a0c79ab.40c986","name":"","statusCode":"","headers":{},"x":650,"y":3080,"wires":[]},{"id":"f7d11142.2553e","type":"ui_template","z":"2a0c79ab.40c986","group":"5224b6c2.287e48","name":"iframe nw map","order":0,"width":"27","height":"11","format":"<iframe frameborder=\"0\" width=\"100%\" height=\"100%\" src=\"/z2mpanel/networkmap\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":120,"y":3040,"wires":[[]]},{"id":"cfa2c077.4a27e","type":"ui_list","z":"2a0c79ab.40c986","group":"54b89803.af94a8","name":"Selected device","order":1,"width":"6","height":"7","lineType":"three","actionType":"none","allowHTML":true,"outputs":1,"x":820,"y":1020,"wires":[[]]},{"id":"b58de4b4.706b6","type":"comment","z":"2a0c79ab.40c986","name":"Device list & selected device","info":"","x":160,"y":880,"wires":[]},{"id":"9b0464e4.cfd3e8","type":"inject","z":"2a0c79ab.40c986","name":"Create network map","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"zigbee2mqtt/bridge/networkmap","payload":"graphviz","payloadType":"str","x":130,"y":200,"wires":[["15d20bb1.9a98b4"]]},{"id":"d295fb32.c82218","type":"inject","z":"2a0c79ab.40c986","name":"Request Device List","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/config/devices/get","payload":"","payloadType":"date","x":140,"y":240,"wires":[["15d20bb1.9a98b4"]]},{"id":"a3ce4a46.cda71","type":"ui_button","z":"2a0c79ab.40c986","name":"Create nw map","group":"3001911e.95cd16","order":12,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Refresh network map","color":"","bgcolor":"","icon":"refresh","payload":"graphviz","payloadType":"str","topic":"zigbee2mqtt/bridge/networkmap","x":120,"y":2880,"wires":[["37170205.5c342e"]]},{"id":"37170205.5c342e","type":"link out","z":"2a0c79ab.40c986","name":"Z2M NW MAP GEN","links":["9eabd086.9f58"],"x":255,"y":2880,"wires":[]},{"id":"f7f80c2a.52e21","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pairing","vt":"str"},{"t":"eq","v":"device_connected","vt":"str"},{"t":"eq","v":"device_removed","vt":"str"},{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":160,"y":2580,"wires":[["c1db0e9e.abf2c"],["868dcdb4.59c3"],["2c979b3f.c59144"],["8a0d4668.7c415"],["b5030b32.5bfac"]]},{"id":"c1db0e9e.abf2c","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload.message","propertyType":"msg","rules":[{"t":"eq","v":"connecting with device","vt":"str"},{"t":"eq","v":"device incoming","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":2480,"wires":[["add11e11.dc69b8"],["3c27c409.48449c"]]},{"id":"add11e11.dc69b8","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is attempting to pair...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2460,"wires":[["900f9478.ed3f28"]]},{"id":"3c27c409.48449c","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is incoming or repairing...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2500,"wires":[["900f9478.ed3f28"]]},{"id":"868dcdb4.59c3","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Device paired successfully: {{msg.payload.message}}","output":"str","x":330,"y":2540,"wires":[["900f9478.ed3f28"]]},{"id":"2c979b3f.c59144","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Deviced removed: {{msg.payload.message}}","output":"str","x":330,"y":2580,"wires":[["900f9478.ed3f28"]]},{"id":"4326ba59.ae4534","type":"comment","z":"2a0c79ab.40c986","name":"Notifications","info":"","x":120,"y":2420,"wires":[]},{"id":"b692392f.59bf58","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":2320,"wires":[]},{"id":"37260d44.cc2a1a","type":"link out","z":"2a0c79ab.40c986","name":"Z2M BINDING OUT","links":["9eabd086.9f58"],"x":875,"y":2240,"wires":[]},{"id":"d9806165.e149b8","type":"link out","z":"2a0c79ab.40c986","name":"Z2M RENAME OUT","links":["9eabd086.9f58"],"x":855,"y":2060,"wires":[]},{"id":"ebca9aa3.aed138","type":"link out","z":"2a0c79ab.40c986","name":"Z2M REMOVE OUT","links":["9eabd086.9f58"],"x":835,"y":1820,"wires":[]},{"id":"47c80b4d.e522f4","type":"comment","z":"2a0c79ab.40c986","name":"Zigbee2Mqtt Admin Panel","info":"","x":150,"y":40,"wires":[]},{"id":"aecdb7f8.3d5338","type":"comment","z":"2a0c79ab.40c986","name":"---- Dont change things down here ----","info":"","x":190,"y":400,"wires":[]},{"id":"8a0d4668.7c415","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload.type.group","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2620,"wires":[["d062f872.ba43"]]},{"id":"d062f872.ba43","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Succesfully changed device {{payload.type.device}} in group {{payload.type.group}}","output":"str","x":570,"y":2620,"wires":[["900f9478.ed3f28"]]},{"id":"746df124.5b8188","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":880,"y":640,"wires":[]},{"id":"7b5638dd.ca07d","type":"debug","z":"2a0c79ab.40c986","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":680,"wires":[]},{"id":"780cb283.731ddc","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":9,"width":"0","height":"0","name":"","label":"Last created","format":"{{msg.payload.nwlast | date:'dd.MM.yy HH:mm'}}","layout":"row-spread","x":530,"y":1120,"wires":[]},{"id":"a198222e.9f448","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"3001911e.95cd16","order":11,"width":"5","height":"1","passthru":false,"label":"Show network map","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Z2M Network map\"}","payloadType":"json","topic":"","x":130,"y":2920,"wires":[["e6615ba6.afeec8"]]},{"id":"e6615ba6.afeec8","type":"ui_ui_control","z":"2a0c79ab.40c986","name":"","x":340,"y":2920,"wires":[[]]},{"id":"5e985e47.284af8","type":"link out","z":"2a0c79ab.40c986","name":"Z2M FLOW DEV TRIGGER","links":["f7eaa817.70bfd8","ced9b243.c5dfc","afb0f244.23a25","397dc944.0f1596"],"x":475,"y":1020,"wires":[]},{"id":"63045885.cf8938","type":"inject","z":"2a0c79ab.40c986","name":"","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1020,"wires":[["5e985e47.284af8"]]},{"id":"2807d6dc.ccc7a2","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message}} to device {{payload.meta.entity.friendlyName}}\nOriginal message: {{payload.meta.message}}","output":"str","x":780,"y":580,"wires":[["746df124.5b8188","830a8537.0f265"]]},{"id":"830a8537.0f265","type":"link out","z":"2a0c79ab.40c986","name":"PUBLISH ERROR TO TELEGRAM","links":["34d4fa40.340716","237ac04e.ab42b"],"x":895,"y":560,"wires":[]},{"id":"e933abfa.51fc9","type":"inject","z":"2a0c79ab.40c986","name":"Request Group List","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/config/groups","payload":"","payloadType":"date","x":140,"y":280,"wires":[["15d20bb1.9a98b4"]]},{"id":"b0cf851.b2aa7f8","type":"link out","z":"2a0c79ab.40c986","name":"Z2M LOG GROUPLIST","links":["7ede0202.b35fec","582e1113.6e2cf8","3a435885.0b90b8"],"x":695,"y":540,"wires":[]},{"id":"1f8865b7.3df53a","type":"comment","z":"2a0c79ab.40c986","name":"Networkmap","info":"","x":110,"y":2840,"wires":[]},{"id":"acf8aca9.3ef62","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"groupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2020,"wires":[[]]},{"id":"582e1113.6e2cf8","type":"link in","z":"2a0c79ab.40c986","name":"Z2M GROUP UI","links":["b0cf851.b2aa7f8"],"x":55,"y":2020,"wires":[["58937eb1.d45d78"]]},{"id":"58937eb1.d45d78","type":"function","z":"2a0c79ab.40c986","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":2020,"wires":[["d906c857.0ef978"]]},{"id":"69c768a3.9241a8","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":5,"width":"0","height":"0","name":"","label":"Zigbee2MQTT version","format":"{{msg.payload.version}}","layout":"row-left","x":220,"y":1180,"wires":[]},{"id":"a8686f60.9400d","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":6,"width":"0","height":"0","name":"","label":"Coordinator firmware","format":"{{msg.payload.coordinator_firmware}}","layout":"row-left","x":220,"y":1220,"wires":[]},{"id":"4fe5da70.88aa14","type":"inject","z":"2a0c79ab.40c986","name":"Reset CC253x","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/config/reset","payload":"","payloadType":"date","x":160,"y":320,"wires":[["15d20bb1.9a98b4"]]},{"id":"d906c857.0ef978","type":"ui_dropdown","z":"2a0c79ab.40c986","name":"Groups","label":"Group","tooltip":"","place":"Select group","group":"496a3e69.272f3","order":8,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":2020,"wires":[["acf8aca9.3ef62"]]},{"id":"3f7c1971.78167e","type":"ui_text_input","z":"2a0c79ab.40c986","name":"Selected device","label":"Selected device","tooltip":"Select device in device list","group":"496a3e69.272f3","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":420,"y":1780,"wires":[[]]},{"id":"397dc944.0f1596","type":"link in","z":"2a0c79ab.40c986","name":"Z2M BIND DEVICE INP","links":["5e985e47.284af8"],"x":55,"y":1780,"wires":[["535deac7.4754d4"]]},{"id":"535deac7.4754d4","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1780,"wires":[["3f7c1971.78167e"]]},{"id":"b8c22fe7.435e4","type":"ui_toast","z":"2a0c79ab.40c986","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":810,"y":1580,"wires":[]},{"id":"d1b55d18.d4edc","type":"function","z":"2a0c79ab.40c986","name":"Format Data","func":"\nif (msg.payload == \"add\") {\n    var action = \"Adding \";\n    var what = \"group \";\n    var cmd = \"add_group\";\n    var groupname = flow.get('newgroupname');\n}\nif(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \"group \";\n        cmd = \"remove_group\";\n        groupname = flow.get('groupname2');\n}\nvar msg1 = { payload: groupname, topic: \"zigbee2mqtt/bridge/config/\" + cmd};\nvar msg2 = { payload: action + what + groupname };\n\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":770,"y":1520,"wires":[["252d46ae.b99412"],["b8c22fe7.435e4"]]},{"id":"252d46ae.b99412","type":"link out","z":"2a0c79ab.40c986","name":"Z2M GROUP BIND OUT","links":["9eabd086.9f58"],"x":875,"y":1500,"wires":[]},{"id":"c0a909a5.2465f","type":"switch","z":"2a0c79ab.40c986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1520,"wires":[["d1b55d18.d4edc"],["d1b55d18.d4edc"],[]]},{"id":"c690b1ae.359ba8","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add group","name":"","x":470,"y":1500,"wires":[["c0a909a5.2465f"]]},{"id":"5954bf85.636b1","type":"ui_toast","z":"2a0c79ab.40c986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove group","name":"","x":470,"y":1540,"wires":[["c0a909a5.2465f"]]},{"id":"6a0da6dc.5d9868","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Add group <b>{{flow.newgroupname}}</b>?","output":"str","x":320,"y":1500,"wires":[["c690b1ae.359ba8"]]},{"id":"d84e90b6.bfc5f8","type":"template","z":"2a0c79ab.40c986","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Remove group <b>{{flow.groupname2}}</b>?","output":"str","x":320,"y":1540,"wires":[["5954bf85.636b1"]]},{"id":"fd49f098.9dbd2","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"60a029a7.3d62e8","order":15,"width":"6","height":"1","passthru":false,"label":"Add group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1500,"wires":[["6a0da6dc.5d9868"]]},{"id":"d106241a.522768","type":"ui_button","z":"2a0c79ab.40c986","name":"","group":"60a029a7.3d62e8","order":17,"width":"6","height":"1","passthru":false,"label":"Remove group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":120,"y":1540,"wires":[["d84e90b6.bfc5f8"]]},{"id":"9010c7a.fe209b8","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"groupname2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1580,"wires":[[]]},{"id":"3a435885.0b90b8","type":"link in","z":"2a0c79ab.40c986","name":"Z2M GROUP UI","links":["b0cf851.b2aa7f8"],"x":55,"y":1580,"wires":[["7ebc3080.dcad3"]]},{"id":"7ebc3080.dcad3","type":"function","z":"2a0c79ab.40c986","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname2'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":1580,"wires":[["26b1fe4.657a482"]]},{"id":"26b1fe4.657a482","type":"ui_dropdown","z":"2a0c79ab.40c986","name":"Groups","label":"","tooltip":"Selected group","place":"Select group","group":"60a029a7.3d62e8","order":16,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":1580,"wires":[["9010c7a.fe209b8"]]},{"id":"44278296.9435bc","type":"ui_text_input","z":"2a0c79ab.40c986","name":"","label":"New group name","tooltip":"","group":"60a029a7.3d62e8","order":14,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1640,"wires":[["53fb979d.cbadc8"]]},{"id":"53fb979d.cbadc8","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"newgroupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1640,"wires":[[]]},{"id":"2bf9057d.3208da","type":"ui_text","z":"2a0c79ab.40c986","group":"496a3e69.272f3","order":7,"width":"6","height":"1","name":"Group membership","label":"<h3>Device group membership</h3>","format":"","layout":"row-left","x":130,"y":1980,"wires":[]},{"id":"c8a91732.d1ddd8","type":"ui_text","z":"2a0c79ab.40c986","group":"496a3e69.272f3","order":11,"width":"6","height":"1","name":"Bind device label","label":"<h3>Bind device</h3>","format":"","layout":"row-left","x":130,"y":2140,"wires":[]},{"id":"5a4f64d4.b0b7ac","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":3,"width":0,"height":0,"name":"bridge status label","label":"<h3>Bridge status</h3>","format":"","layout":"row-left","x":140,"y":1380,"wires":[]},{"id":"3e9c81f5.b4e0f6","type":"ui_text","z":"2a0c79ab.40c986","group":"496a3e69.272f3","order":4,"width":0,"height":0,"name":"rename device label","label":"<h3>Rename device</h3>","format":"","layout":"row-left","x":660,"y":1780,"wires":[]},{"id":"7745419b.c60e5","type":"debug","z":"2a0c79ab.40c986","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"2d81570b.504bb","type":"ui_dropdown","z":"2a0c79ab.40c986","name":"renderer","label":"Renderer","tooltip":"Graphviz renderer","place":"Select renderer","group":"3001911e.95cd16","order":10,"width":"0","height":"0","passthru":false,"options":[{"label":"Circo","value":"circo","type":"str"},{"label":"Dot","value":"dot","type":"str"},{"label":"Neato","value":"neato","type":"str"},{"label":"Twopi","value":"twopi","type":"str"},{"label":"Fdp","value":"fdp","type":"str"}],"payload":"","topic":"","x":340,"y":2960,"wires":[["85263c85.26bcc8"]]},{"id":"85263c85.26bcc8","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2960,"wires":[[]]},{"id":"dedd1be8.f961b8","type":"inject","z":"2a0c79ab.40c986","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nwrenderengine","payloadType":"flow","x":140,"y":2960,"wires":[["2d81570b.504bb"]]},{"id":"98d619c9.6a4c98","type":"ui_text","z":"2a0c79ab.40c986","group":"3001911e.95cd16","order":8,"width":0,"height":0,"name":"nw map label","label":"<h3>Network map</h3>","format":"","layout":"row-left","x":430,"y":2880,"wires":[]},{"id":"2550c23f.4891e6","type":"link out","z":"2a0c79ab.40c986","name":"Z2M GENERIC IN","links":["eedd93a8.60ab48"],"x":255,"y":100,"wires":[]},{"id":"eedd93a8.60ab48","type":"link in","z":"2a0c79ab.40c986","name":"Z2M INPUT","links":["2550c23f.4891e6"],"x":75,"y":540,"wires":[["12f5aa2f.8e1c8e"]]},{"id":"eb5b6644.5672a8","type":"inject","z":"2a0c79ab.40c986","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":320,"wires":[["d1145deb.df5d7"]]},{"id":"d1145deb.df5d7","type":"change","z":"2a0c79ab.40c986","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"circo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[[]]},{"id":"44efe498.7f9e44","type":"function","z":"2a0c79ab.40c986","name":"Save last msg","func":"lastDevMsgs = flow.get('lastdevmsgs')||{};\n\nlastDevMsgs[msg.topic] = msg.payload;\nflow.set('lastdevmsgs', lastDevMsgs);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["7745419b.c60e5"]]},{"id":"8a056c06.f386f","type":"function","z":"2a0c79ab.40c986","name":"Lookup device last msg","func":"lastmsgs = flow.get('lastdevmsgs');\n\nentry=lastmsgs[\"zigbee2mqtt/\"+msg.payload.title];\n\nnewPayload = [];\n\nnewentry = {\n         'title': '<h3>Last message</h3>'\n};\nnewPayload.push(newentry);\n\nfor(var prop in entry) {\n  newentry = {\n         'title': '<b>' + prop + '</b>: ' + entry[prop],\n         'description': entry[prop]\n  };\n  newPayload.push(newentry);\n}\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":920,"wires":[["7d5d2a9a.78c7a4"]]},{"id":"b4de3dd.25cd84","type":"json","z":"2a0c79ab.40c986","name":"","property":"payload","action":"","pretty":false,"x":390,"y":740,"wires":[["44efe498.7f9e44"]]},{"id":"7d5d2a9a.78c7a4","type":"ui_list","z":"2a0c79ab.40c986","group":"54b89803.af94a8","name":"Selected device msg","order":2,"width":"6","height":"6","lineType":"one","actionType":"none","allowHTML":true,"outputs":1,"x":840,"y":920,"wires":[[]]},{"id":"b4cb8d98.959298","type":"inject","z":"3c42ee28.883e0a","d":true,"name":"Sulje klo 22.00","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","x":120,"y":400,"wires":[["17bd2a9c.3d66a5"]]}]